{% extends 'base.html' %}
{% block title %}Wallet{% endblock %}
{% block content %}
<p>Cancelling sale offer {{offer}} - please confirm by signing in XUMM.</p>
{% include '_qr.html' %}
<script>
    webSocket = new WebSocket("{{ws}}");
    webSocket.onmessage = function (event) {
        data = JSON.parse(event.data);
        console.log(data);
        if (data.payload_uuidv4 || false){
            fetch("/wallet/cancel/{{offer}}", {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(event.data)
            })
            .then(response => {
                webSocket.close();
                location.href = '/wallet'
            })
        }
    }
</script>
{% endblock %}