{% extends 'base.html' %}

{% block content %}
<h1>Shop</h1>
{% if info %}
<label>Wallet {{info['address']}} owns {{info['nft_count']}} and has minted {{info['minted']}} nfts.</label>
{% endif %}
<h2>Available NFTs</h2>
{% for n in nfts %}

<div>
    <p>{{n["owner"]}} is selling token {{n["id"]}} for {{'%0.2f'| format(drops_to_xrp(n["offer"]['amount']))}}XRP. It was issued by <a href="/shop/{{n["issuer"]}}">{{n["issuer"]}}</a> and points to <a href="{{n["uri"]}}">{{n["uri"]}}</a>. It has a serial of {{n['serial']}}.</p>
    <p><a href="/buy/{{n["id"]}}">Buy!</a> The creator gets {{ n["fee"].as_percent() }}% of any future sales.</p>
    <p>---</p>
</div>
{% endfor %}
{% endblock %}