{% extends 'base.html' %}
{% block title %}Wallet{% endblock %}
{% block content %}

<label>
    Wallet {{current_user.wallet.address}} owns
    {{current_user.wallet.nfts|length}} and has minted
    {{current_user.wallet.account_data.get("MintedNFTokens", 0)}}
    nfts. It currently has a balance of
    {{current_user.wallet.balance}}XRP.</label>

<a href="https://xls20.bithomp.com/explorer/{{current_user.wallet.account_data['PreviousTxnID']}}">Last transaction by
    account</a>
<img src="https://xumm.app/avatar/{{current_user.wallet.address}}.png" />

<button class="btn"><a href="{{ url_for('wallet.mint') }}">Submit an NFT</a></button>

{% for n in nfts %}
<div class="nft_listing">
    <div>
        <img src="https://xumm.app/avatar/{{n['issuer']}}_200.png" width="100" style="float: left; margin: 5px;" />
    </div>
    <div>
        <p>Token <a href="{{ url_for('wallet.details', nft_id=n['id'])}}">{{n["id"]}}</a> was issued by <a
                href="/shop/{{n[" issuer"]}}">{{n["issuer"]}}</a> and points to <a href="{{n['uri']}}">{{n["uri"]}}</a>.
            It has a serial of {{n['serial']}}.</p><br />
        <p>The creator gets {{ n["fee"] / 1000}}% of any future sales.</p><br />
        {% if n['offers']|length == 0 %}
        <p><a href="{{ url_for('trade.sell', nft=n['id'])}}">Put up for sale</a></p>
        {% else %}
        {% for offer in n['offers'] %}
        <p>Sell offer open <a href="{{ url_for('wallet.cancel', offer=offer)}}">click to cancel</a> {{offer}}</p>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}