{% extends 'base.html' %}
{% block title %}Wallet{% endblock %}
{% block content %}

<label>Wallet {{info['address']}} owns {{info['nft_count']}} and has minted {{info['minted']}} nfts. It currently has a
    balance of {{info['balance_xrp']}}XRP</label>

<img src="https://xumm.app/avatar/{{info['address']}}.png" />

<button class="btn"><a href="{{ url_for('wallet.mint') }}">Submit an NFT</a></button>

{% for n in nfts %}
<div class="nft_listing">
    <div>
        <img src="https://xumm.app/avatar/{{n['issuer']}}_200.png" width="100" style="float: left; margin: 5px;" />
    </div>
    <div>
        <p>Token {{n["id"]}} was issued by <a href="/shop/{{n[" issuer"]}}">{{n["issuer"]}}</a> and points to <a
                href="{{n['uri']}}">{{n["uri"]}}</a>. It has a serial of {{n['serial']}}.</p>
        <p>The creator gets {{ n["fee"] / 1000}}% of any future sales.</p>
        {% if n['offers']|length == 0 %}
        <p><a href="/sell/{{n[" id"]}}">Put up for sale</a></p>
        {% else %}
        {% for offer in n['offers'] %}
        <p>Sell offer open <a href="/wallet/cancel/{{offer}}">click to cancel</a></p>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}